.movie-card{
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay h1 {
    font-size: 20px;
}

.overlay:hover {
    opacity: 1;
}

.movie-card:hover {
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
}

.adult {
    font-size: 12px;
    display: inline-block;
    color: white;
    border: 2px solid rgb(114, 0, 0);
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}

.genre {
    margin-right: 5px;
    font-size: 10px !important;
}

.movie-info {
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .movie-card{
        width: 110px;
        height: 165px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.5s;
    }

    .movie-card:hover {
        transform: scale(1.3) translateZ(20px);
        z-index: 2;
    }

    .overlay {
        width: 100%;
        height: 100%;
    }

    .overlay h1 {
        font-size: 16px;
    }

    .movie-info {
        display: none;
    }
}