.navbar {
    background-color: black;
    color: white;
}

.navbar a {
    color: white !important;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    color: gray !important;
}

.navbar img {
    display: block;
    cursor: pointer;
}