.navbar {
    background-color: black;
    color: white;
    padding: 0 30px !important;
}

.navbar a {
    color: white !important;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    color: gray !important;
}

.navbar img {
    display: block;
    cursor: pointer;
}

@media (max-width: 480px) {
    .navbar img {
        width: 80px;
    }
}